.container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.content-area{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main-area{
    width: 66%;
    float: left;
}

.sidebar{
    width: 33%;
    float: left;
}

.fix{
    clear: both;
}
