html{
    background-color: #869960
}

body{
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

header h1{
    margin: 0%;
    font-weight: normal;
    font-size: 165%;
    
}


header{
    color: #617140;
}

header p {
    margin: 0%;
}

.container header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #617140;
}

.container{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.content-area{
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc
}

.main-area{
    width: 40%;
    float: left;
    padding-left: 35px;
    font-size: 98%;
}

.side-bar{
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding: 10px 35px;
    font-size: 85%;
    background-color:#e5e9dc ;
    margin-left: 40px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after{
    clear: both;
}

.group {
    zoom: 1;
}

.containerTwo{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.content-areaTwo{  
    border-bottom: 3px solid #e5e9dc;
}


.containerTwo header {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #617140;
}

.containerTwo header h1{
    font-weight: normal;
    font-size: 100%;

}

footer{
    text-align: center;
    font-size: 85%;
    color: #999;
}

